
@font-face {
    font-family: 'legothictype';
    src: url('../fonts/legothick-webfont.woff2') format('woff2'),
         url('../fonts/legothick-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
  font-family: 'legothictype';

}
