/* CSS Document */

/* FONTS */
@font-face {
	font-family: 'legothictype';
	src: url('../fonts/legothick-webfont.woff2') format('woff2'),
			 url('../fonts/legothick-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}


/* ALGEMENE STYLING */
*, *::after, *::before {
  box-sizing:border-box;
}

body {
  font-family:eenfont, sans-serif;
  color:#111;
  background-color:#eee;
}

h1 {
	font-family: 'legothictype';
}


/* BRAND STYLING */
